
.overlay-text {
    position: absolute;
    top: 30%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Ensures perfect centering */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    padding: 15px 25px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px  /*Does not wrap the words*/
}
body.login-page .homepage-banner {
    display: none;
}
