/* Sublet_Form.css 
body {
  font-weight: bolder;
  background: white;
  margin: 0;
  padding: 20px;
  color: #e9eef1a8;
}

.back {
  position: absolute;
  top: 10px;
  right: 10px;
}

.back button {
  margin-top: 15%;
  margin-left: -50%;
  background: none;
  border: none;
  font-size: 50pt;
  cursor: pointer;
  color: var(--Sublet_text-color);
  z-index: 1000;
}

.back button:hover {
  color: var(--Sublet_text-color);
}

.file-input {
  display: none;
}

.img-wrap {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
}

.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1000;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}

.img-wrap:hover .close {
  opacity: 1;
}

.center-container {
  overflow: hidden;
  max-width: 480px;
  background: var(--Sublet-color);
  margin: 40px auto;
  padding: 30px 40px;
  box-shadow: 0 0 15px rgb(1, 18, 50);
  border-radius: 8px;
  position: relative;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30pt;
  text-transform: uppercase;
  color: #e9eef1a8;
  text-align: left;
  text-decoration: underline;
}
.form-box {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9fb;
}

.row-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.row-group label {
  flex: 1;
  min-width: 150px;
}

label {
  display: flex;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 3px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"] {
  width: 35%;
  padding: 8px;
  border-radius: 10px;
}

button[type="button"],
button[type="submit"],
.button-group button {
  padding: 10px 15px;
  border: none;
  background-color: var(--menu-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

button[type="button"]:hover,
button[type="submit"]:hover,
.button-group button:hover {
  background-color: var(--accent-color); 
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
*/
.form-box {
  
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 55%;
 
}

.row-group {
  display: block;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start; /* Align tops of inputs */
}

.input-block {
  min-width: 75px;
}

.row-group label {
  flex: 1;
  min-width: 200px;
}

.file-input {
  display: none;
}
.back {
  position: absolute;
  top: -15px;
  right: 10px;
}
.back button {
  margin-top: 15%;
  margin-left: -50%;
  background: none;
  border: none;
  font-size: 50pt;
  cursor: pointer;
  color: black;
  z-index: 1000;
}

body {
  font-weight: bolder;
  background: white;
  margin: 0;
  padding: 20px;
  color: #060606;
}

h1 {

  font-size: 30pt;
  text-transform: uppercase;
  color: black;
  text-align: center;
  text-decoration: underline;
}

button[type="button"],
button[type="submit"],
.button-group button {
  padding: 10px 15px;
  border: none;
  background-color: var(--menu-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

button[type="button"]:hover,
button[type="submit"]:hover,
.button-group button:hover {
  background-color: var(--accent-color); 
}


.imagePreview .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1000;
  font-weight: bold;

}
