* {
    margin: 0;
    padding: 0;   
}

html{
    text-align: center;
    font-size: 15pt;
}
.wrapper {
    box-sizing: border-box;
    background-color: var(--base-color);
      /* Adjust this value based on content size */
    width: max(40%, 500px);
    
    padding: 50px;
    /*something is wrong with the border-radius*/
    
    border-radius: 10px ;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:0 ;
}

h1 {
    font-size: 35pt;
    color: var(--accent-color);
    font-family: Poppins, Segoe UI, sans-serif;
    text-align: center; /* Centers the text horizontally */
    position: absolute; /* Keeps it positioned at the top */
    top: 0%;
}

h3{
    font-size: 15pt;
    color: var(--accent-color);
    font-family: Poppins, Segoe UI, sans-serif;
    position: fixed;
    text-align: center; /* Centers the text horizontally */
    top: 10%;
}


h2{

    font-size: 25pt;
    color: var(--accent-color);
    font-family: Poppins, Segoe UI, sans-serif;
    text-transform: uppercase;
    text-align: center; /* Centers the text horizontally */
    

}

body {
    min-height: 100vh;
    background-image: url(Boston_Login_Page.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: left;
    
    align-items: flex;
    overflow: hidden;
}

ul {
    font-size: 10pt;
    color: var(--accent-color);
    font-family: Poppins, Segoe UI, sans-serif;
    text-align: center; /* Centers the text horizontally */
     /* Keeps it positioned at the top */  

}


form{
    width: min(400px, 100%);
    margin: 0%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column; /*this is the section for
                            making the signup area vertical 
                            not horizontal */
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%; /* adjusts the length of the input boxes.*/
    display: flex; 
    justify-content: center; /* centers the input boxes*/
}

 /*this makes sure that the icons are next to there 
 respective input box*/
form label{
    flex-shrink: 0;
    height: 45px; /* height for the icons*/
    width: 40px;
    background-color: none;
    fill: (var(--base-color));
    color: var(--base-color);
    border-radius: 10px 0 0 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 40px;
    padding: 1em;
    font: inherit;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
}

form input:hover{
    background-color: var(--base-color);


}
form input :focus {
    outline: none;
    border-color: var(--base-color);
}
div:has(input:focus) > label{
    background-color: var(--base-color);
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 0;
    margin-left: -55%;
    border: none;
    border-radius: 1000px;
    padding: 0.15em 2em;
    background-color: var( --input-color);
    color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover {
    color: white;
    background-color: var(--accent-color);
}
form button:focus {
    outline: none;
    
    background-color: var(--text-color);
}
a{
    font-size: 20pt;
    text-decoration: none;
    font-weight: bold;
    color: var(--login-color); /* Create an Account*/
    text-decoration: underline;
}
a:hover{
    text-decoration: unerline;
}
@media (max-width: 1100px){
    .wrapper{
        width: min(600px,100%);
        border-radius: 1;

    }
}
form div.incorrect input {
    border-color: red;


}


#error-message{
    color: var(--accent-color);
    font-size: 1em;  /* Adjusted font size */
    margin-top: 10px;  /* Adjusted margin */
    text-align: center;
}





